@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background: #fff;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  position: relative;
  left: -10px;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav > .nav-item {
  margin-left: 0;
}

.navbar-nav .nav-item:last-child {
  margin: 0;
}

.navbar-nav .nav-link {
  padding: 0 7px 0 7px;
  line-height: 50px;
  white-space: nowrap;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #222;
  position: relative;
}

.navbar-nav .nav-link:hover,
.navbar-nav .show > .nav-link {
  color: #1d783a;
  text-decoration: none;
}

.navbar-nav > .nav-item:hover > .nav-link {
  color: #1d783a;
}

.navbar-nav .nav-item .drop-down {
  display: none;
  position: absolute;
  left: 10px;
  background: #fff;
  z-index: 99;
  padding: 5px 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1),
    0 -3px 0 0 #1d783a;
}

.navbar-nav .nav-item:hover > .drop-down {
  display: block;
}

.navbar-nav .drop-down li {
  display: block;
  position: relative;
}

.navbar-nav .multi-col > .drop-down {
  width: 400px;
}

.navbar-nav .multi-col .drop-down > ul {
  display: inline-block;
  position: relative;
  float: left;
}

.navbar-nav .drop-down li.has-child:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #1d783a;
  position: absolute;
  right: 10px;
  top: 12px;
  opacity: 0.4;
}

.navbar-nav .drop-down li .nav-link,
.navbar-nav .drop-down li a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  white-space: normal;
  line-height: 19px;
  padding: 4px 15px;
  width: 200px;
  color: #222;
}

.navbar-nav .drop-down li:hover > a {
  background: #1d783a;
  color: #fff;
}

.drop-down li .nav-link ul {
  display: none;
}

.navbar-nav .nav-item:hover > .drop-menu-2 {
  left: 100%;
  top: -5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar-nav > .nav-item:nth-child(10):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(11):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(12):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(13):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(14):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(15):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(16):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(17):hover .drop-menu-1,
.navbar-nav > .nav-item:nth-child(18):hover .drop-menu-1 {
  right: 10px;
  left: auto;
}

.navbar-nav > .nav-item:nth-child(10):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(11):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(12):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(13):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(14):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(15):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(16):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(17):hover .drop-menu-2,
.navbar-nav > .nav-item:nth-child(18):hover .drop-menu-2 {
  left: inherit;
  right: 100%;
}

.after-header {
  margin: -10px 0 0px;
}

.slick-slide > div {
  margin: 0px 5px;
}
.slick-list {
  margin: 0 -5px;
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
